.wrapper{
    position: relative;
    height: 100px;
    width: 100px;
 
    border-radius: 50%;

    background: url(../../Assets/images/contact.png);
    background-size: 100% 100%;
    margin-left: 45%;
    overflow: hidden;


}
.input{
    position: absolute;
    bottom: -25px;
    outline: none; 
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 3px 0px;
    cursor: pointer;
    transition: 0.5s;
   
    
 }