#fyxpolicy{
    color:black;
    margin: 230px 0px 0px 20px;
    max-width: max-content;
    max-height: 80%;
    margin-left: 20%;
}
#fyxpolicy h1{
    font-size: 80px;
    position: center;
    padding-bottom: 20%;
    margin-left: -8%;
  
}
